<div class="container">

  <h3>ENG</h3>
<div class="form-group">
  <label class="control-label" for="inputLarge">Po angielsku</label>
  <input class="form-control input-lg" type="text" [(ngModel)]="currRepeat.engPhrase">
  <label class="control-label" for="inputLarge">Po polsku</label>
  <input class="form-control input-lg" type="text" id="plPhrase" [(ngModel)]="currRepeat.plPhrase">
  <label class="control-label" for="inputLarge">Dodatkowy opis</label>
  <input class="form-control input-lg" type="text" id="description" [(ngModel)]="currRepeat.description">
<input type="date" [(ngModel)]="nextRepeat" id="nextRepeat"/>

   <button type="submit" class="btn btn-primary" (click)="addRepeat()">Zastosuj</button>
</div>

</div>


<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Lp.</th>
      <th>Po angielsku</th>
      <th>Po polsku</th>
      <th>Opis</th> 
      <th></th>   
      <th></th> 
    </tr>
  </thead>
  <tbody>
      
      <tr *ngFor="let r of repeatArr; let i = index">
        <!--  <li *ngFor="let item of items">-->
      <td>{{i+1}}</td>
      <td contenteditable>{{r.engPhrase}}({{r.engAnsCountToNext}})</td>
      <td contenteditable>{{r.plPhrase}}({{r.plAnsCountToNext}})</td>
      <td contenteditable>{{r.description}}</td>
     <!-- <td><input type="datetime-local" [(ngModel)]="item.nextRepeat" value={{item.nextRepeat}} /></td>-->
      <td><button class="btn btn-success" (click) = "editRepeat(r)">Edytuj</button></td>
      <td><button class="btn btn-success" (click) = "removeRepeat(r)">Usuń</button></td>
       <!-- </li>-->
    </tr>
      </tbody>
    <button class="btn btn-success" (click) = "saveAllChanges()">Zapisz zmiany</button>
</table> 
