<div class="jumbotron">


  <h1>{{ currRepeat.repeat }}</h1>
  <p><a class="btn btn-primary btn-lg" (click) = "showAnswear()">Pokaż odpowiedź</a></p>
    <p><a class="btn btn-primary btn-lg" (click) = "speak()">Czytaj</a></p>


<div *ngIf="answered">
  <div class="alert alert-dismissible alert-success">
  <strong>{{ currRepeat.plPhrase }}</strong>
  </div>
  <div class="alert alert-dismissible alert-info">
      <strong>{{ currRepeat.description }}</strong>
</div>
  <p>
    <a class="btn btn-primary btn-lg" (click) = "setNextRepeat(currRepeat, 6)">Wiem</a>
      <a class="btn btn-primary btn-lg" (click) = "setNextRepeat(currRepeat,3)">Prawie</a>
      <a class="btn btn-primary btn-lg" (click) = "setNextRepeat(currRepeat,0)">Nie wiem</a>
  </p>
</div>
</div>
=
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select" (change)="onChangeVoice($event.target.value)">
          <option *ngFor="let voice of voices; let i = index">
            {{voice.name}}</option>
        </select> 
        </div>
